@model UniPath_MVC.Models.Class

@{
    ViewData["Title"] = Model.Name;
    var studentsEnrolled = 2;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>
    <link rel="stylesheet" href="~/css/class.css" asp-append-version="true" />
</head>
<body>
    <div class="content-wrapper">
        <img src="~/resources/images/class-banner.jpg" alt="Class Banner" class="showcase-image" />

        <div class="class-details-header">
            <div class="class-title-section">
                <h1>@Model.Name</h1>
                <p>@Model.Description</p>
            </div>

            <form method="POST" asp-controller="Enrollment" asp-action="ToggleEnrollment">
                <input type="hidden" name="classId" value="@Model.Id">
                <button type="submit" class="enroll-button">Enroll</button>
            </form>
        </div>

        <div class="class-details-tags">
            
        </div>

        <div class="class-stats-container">
            <div class="class-stats-teacher">
                <div class="user-tag">
                    <img src="~/resources/images/teacher-placeholder.png" alt="Teacher Profile" />
                    <span>@Model.Teacher.FirstName @Model.Teacher.LastName</span>
                </div>
            </div>

            <div class="class-stats-students">
                <span>@studentsEnrolled @((studentsEnrolled > 1) ? "students" : "student") enrolled</span>
            </div>
        </div>

        <div class="class-capsule-section">
            <h4>Class Capsules</h4>
            @if (Model.Capsules != null && Model.Capsules.Any())
                @foreach (var capsule in Model.Capsules)
                {
                    <a class="capsule-item" asp-controller="Capsule" asp-action="Details" asp-route-id="@capsule.Id">
                        <img src="~/resources/images/capsule-placeholder.jpg" alt="Capsule Image" />
                        <div class="capsule-item-text">
                            <h2>@capsule.Title</h2>
                            <!--span>About  minutes</!--span-->
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</body>
</html>
